# systemd_watcher service file

[Unit]
Description=systemd watcher
Wants=network-online.target
After=network.target network-online.target

[Install]
WantedBy=multi-user.target

[Service]
PermissionsStartOnly=true
EnvironmentFile=/usr/local/systemd_watcher/.env
WorkingDirectory=/usr/local/systemd_watcher/app
ExecStart=/usr/bin/python3 manage.py runserver 0.0.0.0:8000
TimeoutSec=600
Restart=on-failure
RuntimeDirectoryMode=755