{% extends "head_scripts.html" %}
{% load i18n admin_urls static admin_list staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/modify_watcher.css' %}">
<div id="app">
    <h1>Service list <input type="button" value="{% trans 'Show failed services' %}" v-on:click="showFailedServices()"/>
    </h1>
    <div id="content-main">
        <div class="module" id="changelist">
            {% include "toolbar.html" %}
            {% include "table.html" %}
        </div>
    </div>
    {% include "failed_services_modal_window.html" with id="showFailedServices" title="FAILED SERVICES" %}
    {% include "service_status_modal_window.html" with id="showServiceStatus" title="SERVICE STATUS" %}
    <div class="loading" v-if="loading">Loading&#8230;</div>
</div>
<br class="clear"/>
{% include "body_scripts.html" %}
{% endblock %}
