{% load i18n admin_urls static admin_list staticfiles %}

<div id="toolbar">
    <form id="changelist-search" method="get">
        <div><!-- DIV needed for valid HTML -->
            <label for="searchbar"><img src="{% static 'admin/img/search.svg' %}" alt="Search"/></label>
            <input type="text" style="width:auto; box-sizing: unset;" name="q" value="{{ search }}"
                   id="searchbar" autofocus/>
            <input type="submit" value="{% trans 'Search' %}"/>
        </div>
    </form>
</div>