{% load i18n admin_urls static admin_list staticfiles %}

<div id="toolbar">
    <form id="changelist-search" method="get">
        <div><!-- DIV needed for valid HTML -->
            <label for="searchbar"><img src="{% static 'admin/img/search.svg' %}" alt="Search"/></label>
            <input type="text" style="width:auto; box-sizing: unset;" name="q" value="{{ search }}"
                   id="searchbar" autofocus/>
            <input type="submit" value="{% trans 'Search' %}"/>
        </div>
    </form>
    <div>
        <input type="radio" id="one" value="enabled" v-model="pickedServices">
        <label for="one">{% trans 'All services (enabled)' %}</label>
        <br>
        <input type="radio" id="two" value="active" v-model="pickedServices">
        <label for="two">{% trans 'Active services' %}</label>
    </div>
</div>