<div class="modal fade"
     id="{{ id }}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalCenter"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg"
         style="width:1250px;margin: auto;"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="result_list" style="margin:auto; width:100%; height:100%;" v-if="failedServices">
                    <thead>
                        <tr>
                            <th scope="col" class="sortable column-unit">
                                <div class="text">UNIT</div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-load">
                                <div class="text">LOAD</div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-active">
                                <div class="text">ACTIVE</div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-sub">
                                <div class="text">SUB</div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-logs">
                                <div class="text">LOGS</div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-description">
                                <div class="text">DESCRIPTION</div>
                                <div class="clear"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="service in failedServices">
                            <th class="field-unit">● ${ service.service_name }</th>
                            <td class="field-load"><font color="#060">${ service.load_state }</font></td>
                            <td class="field-active"><font color="#f00">${ service.active_state }</font></td>
                            <td class="field-sub"><font color="#f00">${ service.sub_state }</font></td>
                            <td class="field-logs">
                                <font color="#f00">
                                    <button type="button"
                                        class="btn btn-outline-info btn-sm"
                                        v-on:click="showServiceLogs(service.logs)">LOGS</button>
                                </font>
                            </td>
                            <td class="field-description">${ service.name }</td>
                        </tr>
                    </tbody>
                </table>
                <pre><span v-if="failedServices">
LOAD   = Reflects whether the unit definition was properly loaded.
ACTIVE = The high-level unit activation state, i.e. generalization of SUB.
SUB    = The low-level unit activation state, values depend on unit type.
                    </span>
<span>${ failedServices.length } loaded units listed. Pass 'Inactive services' to see loaded but inactive units, too.
To show all installed unit files use 'All services (enabled)'.</span></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>