<div class="modal fade"
     id="showServiceLogs"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalCenter"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg"
         style="width:1250px;margin: auto;"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">SERVICE LOG (from journalctl)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"><pre>${currentServiceLogs}</pre></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary m-progress" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>